<!-- <goal
  *ngFor="let goal of courseGoals"
  [goal]="goal"
  [ngClass]="{active: goal.isActiveGoal}"
  (click)="goal.isActiveGoal = !goal.isActiveGoal">
</goal> -->
  <div>

    <a id="home" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
  </div>
  <div>

    <a id="home" routerLink="/udemy" routerLinkActive="active" ariaCurrentWhenActive="page">Goal Page</a>
  </div>
  <div>

    <a id="home" routerLink="/open-close" routerLinkActive="active" ariaCurrentWhenActive="page">Open-Close Page</a>
  </div>


  <!-- <app-open-close></app-open-close> -->

  <div [@routeAnimations]="getRouteAnimationData()">
    <router-outlet></router-outlet>
  </div>
